source https://nuget.org/api/v2
nuget Fake
nuget Fsharp.Core
nuget Microsoft.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.SelfHost
nuget Microsoft.Owin.Testing
nuget MSBuild.Microsoft.VisualStudio.Web.targets
nuget NUnit < 3
nuget NUnit.Runners < 3